<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mí</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>¡Hola! Soy Helen</h1>
            <p>Bienvenido a mi página, aquí te cuento un poco sobre mí.</p>
        </header>
        
        <section class="contenido">
            <h2>¿Quién soy?</h2>
            <p>Soy estudiante de ingeniería en desarrollo y gestión de software, apasionada por la tecnología, la programación y todo lo relacionado con el mundo digital.</p>
            <p>Actualmente, me encuentro enfocada en mi desarrollo como ingeniera en el área de software y me encanta aprender constantemente, me entusiasma enfrentar nuevos retos, siempre estoy buscando maneras de mejorar y optimizar lo que hago, disfruto hacer ejercicio y pasar tiempo con mi familia, especialmente con mi hermanita. </p>
            <p>¡Me gusta aprender y crecer todos los días!</p>
        </section>
        
        <footer class="footer">
            <p>Gracias por visitar mi página.</p>
        </footer>
    </div>
</body>
</html>
